%h3 Required
%label{for: 'title'} Title:
= f.text_field :title
%label{for: 'description'} Description:
= f.text_area :description

%h3 Optional
%label{for: 'start_time'} Expacted start:
= f.text_field :start_time
%label{for: 'end_time'} Expacted end:
= f.text_field :start_time
