- if current_user
  %ul
    %li.login
      = current_user.login
    - if current_user.admin?
      %li.settings
        %a{href: setting_path(Setting.current)} settings
    %li.logout
      %a{href: logout_path} logout

- else
  %ul
    %li.login
      %a{href: login_path} login
    %li.login
      %a{href: new_user_path} register
